<a href="https://colab.research.google.com/github/Ibrahim341998/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Series

In [3]:
list_s = [1,2,-3,6.2,'data values']
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [5]:
series1 = pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [6]:
series2 = pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [8]:
series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64